<div class="container my-4">
  <div class="row">
    <div class="col text-center">
      <h1>What about NaturNote ??</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col text-center">
      <h5>ナチュール（自然派ワイン）好きな人のための</br>
     「飲んだナチュールのラベル記録」「ナチュールが楽しめる飲食店探し」ができるサービスです！</h5>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col text-center">
      <h5>みんなどんなナチュールを飲んでいるんだろう？どこでナチュールが楽しめるんだろう？</br>
     気に入ったラベル・飲んでみたいナチュール、行ってみたいお店が載ってる投稿に<i class="fas fa-heart"></i>や<i class="fas fa-bookmark"></i>してみよう！</h5>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <%= image_tag "about_winefarm.jpg", size: "400x270" %>
    </div>
    <div class="col text-center mt-4">
      <h5>ナチュール(自然派ワイン)とは？</h5>
      <h6>「出来るだけ無農薬でぶどうを育て、添加物を極力ゼロに近づけて造ったワイン」</h6>
      <h6 class="mt-4">普通のワインとの違いは？</h6>
      <h6><i class="fas fa-wine-glass-alt"></i>　濁ってる、澱（おり）が見える</h6>
      <h6><i class="fas fa-wine-glass-alt"></i>　日持ちがしない</h6>
      <h6><i class="fas fa-wine-glass-alt"></i>　個性豊か</h6>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center mt-4">
      <h5>自分が飲んだナチュールを記録しよう！</h5>
      <h6 class="mt-4">生産者の個性や、ワインの個性がラベルに現れており、</br>
      １つ１つのラベルが個性的でオシャレ！</h6>
      <h6 class="mt-4">写真を撮ったら、さっそく投稿して、</br>
      自分のナチュールを記録Noteを作ろう！</h6>
    </div>
    <div class="col text-center">
      <%= image_tag "top_wine_img.png", size: "400x270" %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <%= image_tag "about_map.png", size: "400x270" %>
    </div>
    <div class="col text-center mt-4">
      <h5>ナチュールが楽しめる店を探してみよう！</h5>
      <h6>「出来るだけ無農薬でぶどうを育て、添加物を極力ゼロに近づけて造ったワイン」</h6>
      <h6 class="mt-4">普通のワインとの違いは？</h6>
      <h6><i class="fas fa-wine-glass-alt"></i>　濁ってる、澱（おり）が見える</h6>
      <h6><i class="fas fa-wine-glass-alt"></i>　日持ちがしない</h6>
      <h6><i class="fas fa-wine-glass-alt"></i>　個性豊か</h6>
    </div>
  </div>
</div>
