<div class="container text-center my-5">

  <div class="row my-5">
    <div class="col-sm text-center text_blue">
      <h1 class="top_catch_copy">＼ Let's enjoy Naturalwine!!! ／</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-md-3 align-self-center mr-2 mt-2">
      <%= image_tag "top_heart_left.png", size: "130x130", class: "top_heart" %>
    </div>
    <div class="col-sm-md-3">
      <%= image_tag "top_wine_img2.png", size: "350x250", class: "top_wine_img" %>
    </div>

    <div class="col-sm-md-3 ml-2">
      <%= image_tag "top_wine_img.png", size: "350x250", class: "top_wine_img" %>
    </div>
    <div class="col-sm-md-3 align-self-center ml-4 mt-4">
      <%= image_tag "top_heart_right.png", size: "130x130", class: "top_heart" %>
    </div>
  </div>

   <div class="row justify-content-center mt-5" >
    <div class="col-sm-md-2 text-center mr-4 admin_text_box">
      <h4 class="text_bold text_red">※管理者ページです</h4></br>
      <h5>ユーザーの退会対応、投稿の削除、コメント削除、Spot情報の削除等ができます。</h5>
    </div>
  </div>

</div>

<style>
  
</style>