// Place all the styles related to the public/wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//.nav-link {
//  background-color:#bbb;
//}

//ホバーした時の記述
//.nav-link:hover {
//  opacity: 0.7;
//  transition: 0.3s;
//}

//「tab_contents_item」は通常時は何も表示されないようにします！！！
//.tab_contents_item{
//  display:none;
//}

//activeがクラス名についたら表示されるようにします。
//.tab_contents_item.active{
//  display:block;
//}

.wine_show_main {
  color: #555555;
  .table{
    color: #555555;
  }
}

.wine_show_contents {
  background-color: #faebd7;
  border-radius: 20px;
  padding: 5%;
  //margin-top:5%;
  //margin-bottom: 10%;
  display: flex;
}

.wine_show__update_destroy_btn {
  text-align: right;
}

//myindexページ
.myindex_show_profile{
  background-color: #ffffe0;
  border : double 10px #f0e68c;
  border-radius: 20px;
  padding: 2%;
}

//indexページ
#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
  background: #deb887;
  border: 1px solid #deb887;
  border-bottom: none;
}

#tab-menu .active {
  background: #f7f6ed;
  color: #deb887;
}

.tab{
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  //background: #f7f6ed;
  //border: 1px solid #deb887;
  //border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}