// Place all the styles related to the public/wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//wine_showページ
.wine_show_main {
  color: #555555;
  .table{
    color: #555555;
  }
}

.wine_show_contents {
  border: double 10px #3d83bf;
  padding: 1%;
  display: flex;
}

//myindexページ
.myindex_show_profile {
  background-color: #ffffe0;
  border : double 10px #f0e68c;
  border-radius: 20px;
  padding: 2%;
}

//indexページ
#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 20%;
  border-bottom: 2px solid #3d83bf;
}

#tab-menu li a {
  color: #3d83bf;
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
  background: #f7f6ed;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#tab-menu li a:hover {
  opacity: 0.7;
  transition: 0.3s;
  background-color: #dcdcdc;
}

#tab-menu .active {
  background: #3d83bf;
  color: #fff;
}

.tab{
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 10px;
}

.card {
  background: #f7f6ed;
  border: double 3px #3d83bf;
}

.card_under_info {
  border-top: dashed 2px #3d83bf;
}