@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Noto+Sans+JP&family=Secular+One&display=swap');
@import 'public/homes';
@import 'public/wines';

//header body footer {
//  font-family: 'M PLUS Rounded 1c' ,'sans-serif';
//}

.nav-item {
  font-family: 'Noto Sans JP', sans-serif;
}

.naturnote_main {
  font-family: 'Secular One', sans-serif;
}

//.catch-copy {
 // font-family: 'Secular One', sans-serif;
  //font-weight: bold;
//}

.main-visual_sign {
  font-family: 'Noto Sans JP', sans-serif;
}

.main-visual_sign-btn {
  color: #555555;
}

header{
  border-bottom: 3px solid #3d83bf;
  width: 100%;
}

.header-link {
  border-color: #3d83bf;
  border: solid;
  color: #3d83bf;
}

footer{
  border-top: 2px solid #3d83bf;
}

  /*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  background-color: #f7f6ed;
  border-radius: 15px;
}

/* 表示しているページ番号のデザイン */
.page-item.active .page-link {
  background-color: #3d83bf;
  border-radius: 15px; 
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}
