//comment_formファイル
@media screen and (max-width:425px) { //レスポンシブ対応
  .comment_form_area {
    width: 300px;
    height: 50px;
    }
  .comment_table {
    font-size: 12px
  }
  .comment_image {
    width: 30px;
    height: 30px;
  }
 }
