//top画面
.about_text_point {
  color: #808080;
}

.about_link_text {
  color: #808080;
  border-width: 15px;
  text-underline-position: above;
  background: linear-gradient(transparent 70%, #ffc966 0%);
  text-decoration: none;
}

.about_link_text:hover {
  color: #696969;
  border-width: 15px;
  text-underline-position: above;
  background: linear-gradient(transparent 70%, #ffa500 0%);
  text-decoration: none;
}

.about_logo_link {
  font-family: 'Carter One', cursive;
  font-size: 40px;
}

.top_sign_in_btn {
  background-color: #3d83bf;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
}

.top_log_in_btn {
  background-color: #3d83bf;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
}

.guest_sign_in_btn{
  font-size: 15px;
  border-radius: 5px;
}

@media screen and (max-width:1025px) { //レスポンシブ対応(タブレット)
  .top_heart {
    height: 100px;
    width: 100px;
  }
  .top_wine_img {
    height: 180px;
    width: 220px;
  }
}
@media screen and (max-width:768px) { //レスポンシブ対応(スマホ)
  .top_heart {
    height: 50px;
    width: 50px;
  }
  .top_wine_img {
    height: 90px;
    width: 110px;
  }
  .about_text_point{
    display:none
  }
  .top_catch_copy {
    font-size: 23px;
  }
}


//管理者topページ
.admin_text_box {
  background-color: #f5deb3;
  border-radius: 20px;
  padding: 30px;
  width: 900px;
}


//aboutページ
.main-visual_sign_btn {
  width: 200px;
  height: 150px;
  border-radius: 100px;
  text-decoration: none;
  color: #555555;
}
.main-visual_sign_link {
  text-decoration: none;
  color: #555555;
}

.about_content {
  background-color: #f5deb3;
  border-radius: 20px;
  padding: 30px;
  color: #555555;
}
.about_content_title {
  font-weight: bold;
  text-decoration: underline;
}

.about_logo {
  font-family: 'Carter One', cursive;
  font-size: 60px;
}

.about_catch-copy {
  border-width: 15px;
  text-underline-position: above;
  background: linear-gradient(transparent 70%, #f5deb3 0%);
  text-decoration: none;
  }

@media screen and (max-width:1025px) { //レスポンシブ対応(タブレットサイズ)
  .about_catch-copy {
    font-size: 25px;
    border-width: 15px;
    text-underline-position: above;
    background: linear-gradient(transparent 70%, #f5deb3 0%);
    text-decoration: none;
  }
  .about_logo {
    font-size: 50px;
  }
  .about_text {
    font-size: 15px
  }
}

@media screen and (max-width:768px) { //レスポンシブ対応(スマホサイズ)
  .about_image {
    width: 300px;
    height: 200px;
  }
}
