// Place all the styles related to the public/relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//フォローボタン
.follow_btn {
  color: #fff;
  background-color: #20b2aa;
}
//フォロー外すボタン
.unfollow_btn {
  color: #fff;
  background-color: #a9a9a9;
}
