//spot_index(Mapページ)
.map_headline {
  margin-left: 40px;
  font-size: 35px;
}
.map_explanation {
  margin-left: 70px;
  font-size: 18px;
}

@media screen and (max-width:425px) { //レスポンシブ対応
  .map_headline {
    margin-left: 0px;
    font-size: 24px;
  }
  .map_explanation {
    margin-left: 0px;
    font-size: 11px;
  }
 }