<%= form_with model: spot, url:method do |f| %>
    <div class="field">
        <div>
            <%= f.label :"住所または地名" %>
        </div>
        <%= f.text_field :address,size: "40x20", id:"pac-input", onChange:"codeAddress()" %>
        <div id="map"></div>
    </div>
    <%= f.submit %>
<% end %>

<style>
#map {
  height: 800px;
  width: 800px;
}
</style>

<script>
    let geocoder
    let map
    function initMap() {
        geocoder = new google.maps.Geocoder()
        map = new google.maps.Map(document.getElementById("map"), {
            center: {lat:34.965106 , lng:136.624412},
            zoom: 12
        });
　　　　　// ここから
        const input = document.getElementById("pac-input");
        const autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo("bounds", map);
        // ここまで
    }
        function codeAddress(){
            let inputAddress = document.getElementById('pac-input').value;

            geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                if (status == 'OK') {
                    map.setCenter(results[0].geometry.location);
                    let marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('該当する結果がありませんでした：' + status);
                }
            }); 
        }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANVEZaOAVmsA5IxBWxHuUDOy-5qzjluGI&callback=initMap" async defer></script>