<!-- ナチュール記録ボタン -->
<%= render 'public/wines/post_wine-btn' %>

<div class="container my-4">
  <div class="row-sm mb-0">
    <h4>店を選び直す</h4>
  </div>
  <div class="row-sm mb-3 ml-3">
    <h5>(選択しない場合、住所・緯度経度の欄を消して「店情報の入力完了」ボタンを押してください)</h5>
  </div>

<%= render 'spot_form', spot: @spot, method: spot_path(@spot) %>

</div>