<!-- ナチュール記録ボタン -->
<%= render 'public/wines/post_wine-btn' %>

<div class="container my-4">
  <div class="row-sm-md-4 mb-3">
    <h4 class="text_blue text_underline"><span class="h2 font_bold">Step-1</span>&nbsp;&nbsp;&nbsp;投稿する店を選択
    <span class="h5">(選択しない場合、そのまま「店情報の入力完了」ボタンを押してください)</span></h4>
  </div>

<%= render 'spot_form', spot: @spot, method:spots_path %>

</div>