<!-- ナチュール記録ボタン -->
<%= render 'public/wines/post_wine-btn' %>

<div class="container my-4">
  <div class="row">
    <h4>投稿する店を選択</h4>
  </div>
</div>

<%= render 'spot_form', spot: @spot, method:spots_path %>