<%# 右下に表示しておくナチュール投稿ボタン %>
<div class="post_wine row-sm-md pr-3 pl-3 ml-4">
  <%= link_to new_spot_path, class:"plus-button" do %>
    <%= image_tag "kiroku_logo.png", size: "100x220" %>
  <% end %>
</div>