<div class="container">
  <div class="row">
    <div class="col">
      <h2>ナチュール投稿編集</h2>
    </div>
  </div>
  
  <%= render 'wine_form', wine: @wine, spot: @spot, method:wine_path(@wine) %>

</div>