<div class="container my-4">
  <div class="row-sm-md">
    <div class="col-sm-md">
      <h3 class="font_bold">ナチュール投稿編集</h3>
    </div>
  </div>
  <div class="row-sm-md mt-3">
    <div class="col-sm-md-7">
      <h6 class="text_red">※の項目は入力が必須です</h6>
    </div>
  </div>

  <%= render 'wine_form', wine: @wine, spot: @spot, method:wine_path(@wine) %>

</div>