<div class='container my-4'>
  <div class='row'>
    <div class="col-sm-md text-center mx-auto text_blue">
      <h4>みんなのナチュール記録🍷<span class="h5"> (<%= @wines.count %>件)</span></h4>
    </div>
  </div>

      <%= render 'index', wines: @wines, genres: @genres %>

</div>
