<div class='container'>
  <div class='row', style="width: 100%;">
    <div class='col card p-0' style="background-color:#fcfced;">
      <div class="row card-header m-0">
        <div class="text-center mx-auto">
          <h4><%= @member.name %>さんの投稿一覧<span class="h5"> (全<%= @wines.count %>件)</span></h4>
        </div>
      </div>
      
      <%= render 'index', wines:@wines, member:@member %>
      
      <div class="d-flex justify-content-center mt-5">
        <%#= paginate @active_items %>
      </div>

    </div>
  </div>
</div>