<div class="container my-3">
  <div class="row">
    <div class="col">
      <h2>ナチュール投稿編集</h2>
    </div>
  </div>
  
  <%= render 'admin/wines/wine_form', wine: @wine, spot: @spot, method: admin_wine_path(@wine) %>

</div>