<div class="container my-3">
  <div class="row-sm-md">
    <div class="col-sm-md">
      <h2>ナチュール投稿編集</h2>
    </div>
  </div>
  <div class="row-sm-md mt-3">
    <div class="col-sm-md-7">
      <h6 class="text_red">※の項目は入力が必須です</h6>
    </div>
  </div>
  
  <%= render 'admin/wines/wine_form', wine: @wine, spot: @spot, method: admin_wine_path(@wine) %>

</div>